* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #F8D834;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header section with title, subtitle, and user instructions */

#title-section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title-text {
    margin-top: 50px;
}

#subtitle {
    margin-bottom: 20px;
}

#instructions {
    display: flex;
}

/*Input section for today's letters*/

#input-section {
    width: 100%; /*placeholder*/
    display: flex;
    flex-direction: column;
}

#letter-inputs {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Output section for puzzle solutions based on inputs*/

#output-section {
    width: 100%; /*placeholder*/
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-top: 30px;
}

.output-column {
    font-weight: bold;
}